body {
    font-family: 'Belleza', sans-serif;
}
#navbar {
    background-color: #B4B0A5;
    padding-left: 1em;
}

.banner {
    width: 100%;
    height: auto;
}



#savannah{
    width: 100%;
    height: auto;
}

#branding {
    width: 100%;
}

.card{
    border: none;
}

#button {
    background-color: #B4B0A5;
    border: none;
    border-radius: 5%;
    text-transform: uppercase;
}

#button1 {
    background-color: #B4B0A5;
    border: none;
    border-radius: 5%;
    text-transform: uppercase;
}


#button2 {
    background-color: white;
    border: none;
    border-radius: 5%;
    text-transform: uppercase;
    color: #B4B0A5;
}

form {
    background-color: #B4B0A5;
    padding: 1em;
    color: white;
    border-radius: 0.3%;
}

footer {
    background-color: #B4B0A5;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#exampleFormControlTextarea1 {
    resize: none;
}

p {
    line-height: 2em;
}

.latest {
    width: 100%;
    height: auto;
}

.latest1 {
    width: 50%;
    height: auto;
}
