body{
    font-family: Arial, Helvetica, sans-serif;
    color: pink;
    font-size: 18px;
}

header,
footer{
    background-color: rgb(138, 218, 218);
}

.site-title{ color: white;

}

#my-image {
    box-shadow: 0 0 2px 1px black
}

ul{
    list-style: square;
}

aside li:nth-child(odd){
    background: purple;
}

nav ul{
    list-style: none;
}
 nav ul a,
 nav ul a:link,
 nav ul a:visited{
     background: pink;
     text-decoration: none;
     border: 1px solid purple;
 }

 
     nav ul a:hover,
     nav ul a:focus{
         text-decoration: none;
         background-color: white;
     }
     