html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* MOBILE STYLES START HERE */


/* Adding font "Montserrat so that the font matches that of the mockup*/

html {
  font-family: 'Montserrat', sans-serif;
  background: #f7f7ff;
}


/* Adding width of 114.73 to logo to match the mockups width */

.logo-pic {
  width: 114.73px
}


/* Changing font size to 60px to match the h1 of the mockup, changing color and adding font weight */

h1 {
  font-size: 60px;
  font-weight: bold;
  color: #333131;
}


/* Changing font size and adding padding to match font size and spacing of mockup */

.start-today {
  font-size: 24px;
  padding-top: 24px;
}


/* Changing width of background image to match the image in the mockup for mobile style */

.scooter {
  margin-bottom: 16px;
  width: 289.28px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Adding a margin to the container to match the mockup and contain all content within to the same margin */

.container {
  margin: 2.5em;
}


/* Adding a margin of 38px to form to match that of the mockup from edge to footers side */

.form {
  margin-left: 38px;
}


/* Adding margin bottom to footer, changing background color to white, adding an overall padding of 24px, border radius of 25px and soft box shadow to match the mockup */

.form-background {
  margin-bottom: 2em;
  background: white;
  padding: 24px;
  border-radius: 25px;
  width: 250px;
  height: 495px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}


/* Adding a little bit of padding to the left of h4 to help it align */

h4 {
  padding-left: 0.6em;
}


/* Adding width of 100%, padding to text box, background color (extracted from Adobe themes as it was not provided in mockup) a border radius of 5px, removing
of border and text color to grey to match the mockup to the #firstname, #lastname, #youremail and #number IDs to match mockup. IDs were used instead of class
to have a higher specificity and to differentiate from the padding of the classes */

#firstname {
  width: 100%;
  padding: 0.9em;
  background: #F4F4F5;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  color: grey;
  margin-bottom: 15px;
}

.yourfirstname {
  padding: 0.5em;
}

#lastname {
  width: 100%;
  padding: 0.9em;
  background: #F4F4F5;
  border-radius: 7px;
  border: none;
  box-sizing: border-box;
  color: grey;
  margin-bottom: 15px;
}

.yourlastname {
  padding: 0.5em;
}

#youremail {
  width: 100%;
  padding: 0.9em;
  background: #F4F4F5;
  border-radius: 7px;
  border: none;
  box-sizing: border-box;
  color: grey;
  margin-bottom: 15px;
}

.youremail {
  padding: 0.5em;
}

#number {
  width: 100%;
  padding: 0.9em;
  background: #F4F4F5;
  border-radius: 7px;
  border: none;
  box-sizing: border-box;
  color: grey;
  margin-bottom: 9px;
}

.yournumber {
  padding: 0.5em;
}


/* Changing background color to button and adjusting size to match the mockup */

.drive {
  background: #57eeab;
  width: 100%;
  border-radius: 7px;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  color: #333131;
}


/* Changing font size of the apply class, as well as adding font weight and padding to match the mockup */

.apply {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 0.2em;
  padding-left: 10px;
}


/* Changing styles of agree, checkbox and link to match that of the provided mockup */

.agree {
  display: inline;
}

.checkbox {
  padding-bottom: 0.5em;
}

a {
  color: #ff8480;
  text-decoration: none;
}

.already-applied {
  margin-top: 19px;
}


/* Changing background of footer to yellow to match that of the mockup and making the width 100% to span across the page for all screen sizes */

footer {
  background: #fffd8c;
  width: 100%;
}


/* Changing styles of .earn, .howmany, #hours, #city and .calcualte to match the form of the mockup */

.earn {
  font-weight: bold;
  padding: 1em;
  margin-left: 38px;
  margin-right: 38px;
}

.howmany {
  padding: 1em;
  margin-left: 38px;
  margin-right: 38px;
}

#hours {
  padding: 1em;
  border: none;
  width: 58px;
  margin-right: 10px;
  border-radius: 10px;
  color: #707070;
  font-weight: bold;
}

#city {
  padding: 1em;
  border: none;
  width: 200px;
  border-radius: 10px;
  color: #707070;
  font-weight: bold;
}

.calculate {
  background-color: #ff8480;
  border: none;
  border-radius: 10px;
  width: 20.438rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 8px;
  margin: 10px;
  font-size: 24px;
}


/* Flexing the icons to be justified in the center of the space and to distribute the space around to match the mockup */

.icons {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 1em;
}

.info {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* TABLET STYLES START HERE */


/* Changing width of the form to match the tablet mockup size at 40rem (converted from pixels), scooter at 26.29rem (converted from pixels) and flexing icons
to display in the center, as well as adding right margin to incons so they display the same as the mockup */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .form-background {
    width: 40rem;
  }
  .scooter {
    width: 26.29rem;
  }
  .calculate {
    margin-right: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 7px;
  }
  .icons {
    display: flex;
    justify-content: center;
  }
  svg {
    margin-right: 2.5em;
  }
}


/* DESKTOP STYLES START HERE!*/


/* Adding display none to the background image so I can re-display it behind all the content as an actual background image, changing the
width of the form to 535px to match the mockup and adding a grid to the main section to move the text and form to the same positions as provided in the 
mockup. Also flexing the footer to display the form on the right and icons on the left */

@media only screen and (min-device-width: 1024px) {
  .scooter {
    display: none;
  }
  */ .form-background {
    width: 535px;
    margin-right: 5em;
  }
  .center {
    margin-left: 5em;
    margin-top: 1em;
  }
  .logo-pic {
    margin-left: 2em;
  }
  main {
    display: grid;
    grid-template-areas: "main side aside";
    grid-template-columns: repeat(3, 1fr);
  }
  main {
    background: url(../images/scooter.svg) no-repeat center;
    background-size: 820px;
  }
  footer {
    padding-top: 2em;
    padding-bottom: 2em;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icons {
    display: flex;
  }
  svg {
    margin-right: 5em;
  }
  .calculate {
    margin: 0;
    margin-left: 1em;
    width: 200px;
  }
  .form2 {
    justify-content: start;
    margin-left: 48px;
    margin-top: 0.5em;
  }
  .earn {
    padding-top: 10px;
    padding-left: 0.75em;
    padding-bottom: 0em;
  }
  .howmany {
    padding: 10px;
  }
}